/* css styles */
.lite-youtube-style {
width: 500px;
text-align: left;
}

.hover-box {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.hover-wrapper:hover .hover-box {
  max-height: 500px; /* large enough to fit content */
}

.hidden {
  display: none;
}

.lite-youtube-style {
  max-width: 100%;
  width: 100%;
}

.lite-youtube-style lite-youtube {
  display: block;
  width: 100%;
  max-width: 100%;
}

/* Large screens */
@media (min-width: 992px) {
  .lite-youtube-style {
    width: 60%;
  }
}